<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="username" value="uarteaga@tracusa.com.mx.sandbox" />
    <add key="password" value="trss4l3sforce" />
    <add key="token" value="MyQNJPXQO7qllDPgvv1c3AOd" />
    <add key="clientId" value="3MVG9GnaLrwG9TQRHoWVheOZ4zD6BCF6QntZnZnOT4TQWi.cOCiypeovbc1lk2Bb9S9CRYLfIAUCWLV6hyQ2_" />
    <add key="clientSecret" value="500462354789319702" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>